{% extends "core/base.html" %}
{% load static catalog_extras %}

{% block title %}{{ path.title }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'core/levantamiento.css' %}">
<link rel="stylesheet" href="{% static 'catalog/guide.css' %}">
<link rel="stylesheet" href="{% static 'worlds/architecture.css' %}">
<script src="{% static 'core/enhance.js' %}" defer></script>
<script src="{% static 'core/levantamiento.js' %}" defer></script>
{% endblock %}
{% block body_attrs %}{% route_flavour path as fl %} class="world-architecture fl-{{ fl.key }}"{% endblock %}

{% block content %}
{% include "worlds/architecture/cover.html" %}
<div id="path-app" data-enhance-root>
  {% include "worlds/architecture/_app.html" %}
</div>
{% endblock %}
