{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ path.title }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'worlds/architecture.css' %}">
<script src="{% static 'core/enhance.js' %}" defer></script>
<script src="{% static 'worlds/architecture-cover.js' %}" defer></script>
{% endblock %}
{% block body_attrs %} class="world-architecture"{% endblock %}

{% block content %}
{% include "worlds/architecture/cover.html" %}
<div id="path-app" data-enhance-root>
  {% include "worlds/architecture/_app.html" %}
</div>
{% endblock %}
